# --- Android & Gradle ---
.gradle/
build/
**/build/
!src/**/build/
.kotlin/
local.properties
*.apk
*.aab
output.json
captures/
.externalNativeBuild/
.cxx/
*.hprof

# --- Kotlin Multiplatform ---
.konan/

# --- IDEs (Android Studio / IntelliJ / VS Code) ---
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.vscode/

# --- iOS & Xcode ---
iosApp/DerivedData/
iosApp/Pods/
iosApp/build/
iosApp/*.xcodeproj/xcuserdata/
iosApp/*.xcworkspace/xcuserdata/
iosApp/*.xcodeproj/project.xcworkspace/
iosApp/*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.xcresult/
*.mode1v3
*.mode2v3
*.perspectivev3

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Secrets & Keystores ---
*.jks
*.keystore
keystore/
google-services.json

# --- Others ---
node_modules/
*.log
*.class
target/
dist/
TEST*.xml
